.orbit {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.mercury-orbit {
  width: 120px;
  height: 120px;
}

.venus-orbit {
  width: 180px;
  height: 180px;
}

.earth-orbit {
  width: 260px;
  height: 260px;
}

.moon-orbit {
  top: -15px;
  left: 15px;
  width: 30px;
  height: 30px;
  border: none;
  z-index: 7;
}

.mars-orbit {
  width: 340px;
  height: 340px;
}

.jupiter-orbit {
  width: 420px;
  height: 420px;
}

.saturn-orbit {
  width: 540px;
  height: 540px;
}

.uranus-orbit {
  width: 640px;
  height: 640px;
}

.neptune-orbit {
  width: 780px;
  height: 780px;
}

.pluto-orbit {
  width: 720px;
  height: 720px;
}
